<!DOCTYPE html>
<html lang="en" class="animated fadeOutDown>
<head>
  <meta charset="UTF-8">

<%- include('includes/headerLinks.ejs') %>
</head>

<body>
    <% if(session){ %> <a href="http://localhost:3000/logout" class="logout">Logout</a> <%}%>
<div id="wrapper">
    <div id = "content">
        <div class="post">
            <h3> 404 </h3>
            <h4>Page not Found</h4>
        </div>
    </div>
</div>
</body>